@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}
* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

/* NOTE: shared styles */
.display-flex {
    display: flex;
}
.dark-01 {
    color: #131313;     /* dark-01 */
}
.text-gray {
    color: #424242;     /* dark-02 */
}
.text-light-gray {
    color: #727272;     /* dark-03 */
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
    background-color: #ff900e;
    color: #ffffff;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}



/* Note: header styles */
/* navbar */
.brand {
    font-weight: 700;
    font-size: 3rem;      /* font-size: 45px; */
}
.navbar {
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    margin-right: 30px;
    list-style: none;
}
.nav-link {
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content {
    max-width: 850x;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner-title {
    font-size: 4rem;
    font-weight: bold;
}
.banner-image {
    width: 100%;
}

/* responsive media */
@media screen and (max-width: 576px) {
    .navbar, .nav-links {
        flex-direction: column;
    }
}