@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* NOTE: shared styles */
.display-flex {
    display: flex;
}
.dark-01 {
    color: #131313;     /* dark-01 */
}
.text-gray {
    color: #424242;     /* dark-02 */
}
.text-light-gray {
    color: #727272;     /* dark-03 */
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
    background-color: #ff900e;
    color: #ffffff;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
.btn-primary:hover {
    cursor: pointer;
    transform: translateY(-2px);
    opacity: 0.9;
    box-shadow: 0 6px 15px rgba(0,0,0,0.45);
}

main {
    max-width: 1200px;
    margin: 0 auto;
}
main > section {
    margin-top: 130px;
}
.section-title {
    font-size: 2.8rem;
    font-weight: bold;
}


/* Note: header styles */
/* navbar */
.brand {
    font-weight: 700;
    font-size: 3rem;      /* font-size: 45px; */
}
.navbar {
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    margin-right: 30px;
    list-style: none;
}
.nav-link {
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner {
    max-width: 1200px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content {
    max-width: 850px;
    text-align: center;
    margin: 0 auto 50px;
}
.banner-title {
    font-size: 4rem;
    font-weight: bold;
}
.banner-image {
    width: 100%;
}

/* team & features realted styles */
.teams {
    align-items: center;
    justify-content: center;
}
.team-img-container {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}
.our-features {
    margin-left: 73px;
    max-width: 537px;
}
.section-title span:nth-of-type(3) {
    color: #ff900e;
}
#quick-list {
    font-weight: 500 !important;
}
.feature-description {
    padding-bottom: 32px;
}

/* feature section related */
.feature {
    gap: 140px;
}
#feature-section-title {
    border-left: 5px solid #ff900e;
    padding-left: 21px;
}
.feature-card {
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
.feature-card .feature-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0;
}
.featured-architect img {
    width: 100%;
}
#experience-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -92px;
    margin-top: -77px;
}
#experience-year {
    font-size: 4rem;
    font-weight: bold;
}


/* some fatcs - styles */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card {
    text-align: center;
    border: 1px solid #ff900e;
    border-radius: 8px;
    width: 240px;
    padding-top: 45px;
    align-items: center;
    justify-content: center;
}
.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin: 5px auto 10px auto;
}
.fact-name {
    margin-top: 0;
    margin-bottom: 50px;
    padding-bottom: 10px;
    font-size: 1.25rem;
    font-weight: 600;
}

/* our sponsor styles */
.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img {
    filter: grayscale(100%);
}

/* footer styles */
footer {
    max-width: 1200px;
    margin: 130px auto;
    background-color: #fff4e7;
    text-align: center;
    padding: 39px 0;
}



/* responsive media */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams, .feature {
        flex-direction: column;
    }

    .team-img-container, .facts-container, .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features {
        margin-left: 20px;
    }

    .facts-container {
        justify-items: center;
        gap: 20px;
    }
    
    .sponsor-companies {
        justify-items: center;
        gap: 50px;
    }

    #experience-badge {
        margin-top: 20px;
        margin-left: 20px;
    }
}

/* medium sized device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams, .feature {
        flex-direction: column;
    }
    .our-features {
        margin-left: 40px auto;
    }

    .facts-container, .sponsor-companies {
        margin-left: 20px;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    #experience-badge {
        margin-top: 20px;
        margin-left: 20px;
    }
}